ion-content{
    --background: black;
  }
  ion-card-subtitle{
    color: rgb(255, 234, 234);
  }
  img 
    {
      height: auto;
      width: 300px;
      position: static;
      padding: auto;
      margin-top: 0.5%;
    }