<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MUSICS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div align="center"><div class= "img"><img src="assets/Vonny.jpg"></div>
      <ion-card-subtitle>Friend</ion-card-subtitle>
      <ion-card-title>Von Joshua Lorez</ion-card-title>
    </div>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <div align="center"><div class= "img"><img src="assets/Marla.jpg"></div>
      <ion-card-subtitle>Friend</ion-card-subtitle>
      <ion-card-title>Marlo Mendoza</ion-card-title>
    </div>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <div align="center"><div class= "img"><img src="assets/Sibs.jpg"></div>
      <ion-card-subtitle>Friend</ion-card-subtitle>
      <ion-card-title>Rose Marie Sibulan</ion-card-title>
    </div>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <div align="center"><div class= "img"><img src="assets/Zeddy.jpg"></div>
      <ion-card-subtitle>Friend</ion-card-subtitle>
      <ion-card-title>Rose Marie Sibulan</ion-card-title>
    </div>
    </ion-card-header>
  </ion-card>

