<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>HOMEPAGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://pbs.twimg.com/profile_banners/1973392680/1651941090/1080x360)"></div>
    </div>
    </div>
   <div class="right">
    <div align="center"><h3>ATENEO VOLLEYBALL GROUP</h3>
    <h4>It's me Kennedy Manalo!</h4></div>
      <div align="center"><p>LET'S TRY TO MAKE HISTORY?</p>
    </div>
    <div align="center"><p1> "Volleyball is just a game where we can learn how to set, dig and pass for our future. You must wait for a perfect timing to spike and make your own history"</p1>
    </div>
      </div>
      <div class="blockquote-wrapper">
        <div class="blockquote">
          <h1>
            "TAKE A SET, MAKE A PASS AND DIG EVERYTHING FOR A PERFECT SPIKE OF YOUR FUTURE".
           </h1>
          <h4>&mdash;Kennedy (2022)</h4>
        </div>
      </div>
      <div id="footer"></div>
</ion-content>
