
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Student Profile & Contact Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="assets/ken.jpg" alt="student dp">
              <h3>Kennedy Manalo</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">Student ID:</strong>19-44389</p>
              <p class="mb-0"><strong class="pr-1">Section:</strong>IT 3301</p>
              <p class="mb-0"><strong class="pr-1">Course:</strong>BSIT</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Contact Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="20%">Contact No.</th>
                  <td width="1%">:</td>
                  <td>09274083862</td>
                </tr>
                <tr>
                  <th width="20%">Facebook Account</th>
                  <td width="1%">:</td>
                  <td>Kennedy Manalo</td>
                </tr>
                <tr>
                  <th width="20%">Gmail</th>
                  <td width="1%">:</td>
                  <td>kennedy.manalo@g.batstate-u.edu.ph</td>
                </tr>
              </table>
            </div>
          </div>
            </div>
            </div>
          </div>
        </div>
        
  

</ion-content>
