<ion-header>
  <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>INFORMATION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <body>
  <div id="header">
    <p id="name">KENNEDY MANALO</p>
             <a href="mailto:" target="_blank"><p id="email"></p></a>
         </div>
         
         <ion-content>
          <div align="center">
         <div class="img"> <img src="assets/ken.jpg">
         </div>
         </div>
         <div class="left">
        </div>
         <div class="right">
         <header class="masthead"></header>
         <h3>BATANGAS STATE UNIVERSITY - MABINI CAMPUS</h3>
         <h4>Bachelor of Science in Information Technology</h4>
         <p> Major in Networking Technology   </p>
         <p>3rd Year Student
         </p>
         <h5>ACHIEVEMENTS</h5>
         <div class="left"><p1> Dean Lister and being Business Manager II of Supreme Student Council last AY: 2020-2021</p1>
        </div>
         <div id="footer"></div>
         </div>
        </ion-content>
  </body>
</ion-content>

