<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>HOBBIES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center">
    <div class="img"> <img src="assets/spike.jpg">
    </div>
    </div>
   <div class="right">
    <div align="center"><h3>SPORTS</h3>
    <h4>VOLLEYBALL</h4></div>
    <div align="center"><p1> "Volleyball is just a game where we can learn how to set, dig and pass for our future. You must wait for a perfect timing to spike and make your own history"</p1>
    </div>
      </div>
      <div class="blockquote-wrapper">
        <div class="blockquote">
          <h1>
            Serve Strong. 
            Dig Fierce.
            Spike Hard.
           </h1>
          <h4>&mdash;Kennedy (2022)</h4>
        </div>
      </div>
      <div id="footer"></div>
</ion-content>

